<div class="container">
  <div class="webCamContainer">
    <mat-card>
      <webcam [height]="200" [width]="200" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
        *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
        [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)">
      </webcam>
    </mat-card>
  </div>
  <div class="buttonsContainer">
    <button mat-raised-button primary (click)="triggerSnapshot();">Capture</button>
    <button mat-raised-button warn (click)="showNextWebcam(true);">Switch</button>
  </div>
  <div class="imagesContainer">
    <div *ngFor="let image of capturedImages; let i = index">
      <img [src]="image" [height]="height[i]" [width]="width[i]" (click)="resizeImage(i)">
    </div>
  </div>
</div>